body {
    font: inherit;
    font-size: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.sub-header {
    padding: 15px;
    border-bottom: 1px solid #d4d4d4;
}

.site-title {
    font-size:13px;
    width: 55%;
}

.sub-menu {
    width: 35%;
    margin-right: 2%;
}

.sub-menu > ul {
    flex-wrap: wrap;
    justify-content: space-between;
    color: #7e7e7e;
}

.sns-link {
    width: 8%;
}

.sns-li {
    width: 33%;
    height: 15px;
    text-align: center;
}

.main-header {
    height: 77px;
    padding: 0 0 0 2%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}

.main-menu {
    align-items: center;
    height: 100%;
}
.main-menu > ul {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.main-menu > ul > li {
    display: flex;
    align-items: center;
    height: 100%;
}
.main-menu > ul > li > a {
    height: 100%;
    padding:0 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.contact-nav {
    background-color: #FCFC38;
    display: block;
    padding: 0 25px !important;
    transition: 0.3s ease-out;
}

.contact-nav:hover {
    color: white;
    background-color: black;
}


.top {
    position: relative;
    height: 800px;
}

.top-picture {
    width: 100%;
    object-fit:cover;
}

.top-contents {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    align-items: center;
    z-index: 100;
}

.top-title {
    font-size: 80px;
    letter-spacing: 15px;
}

.top-by {
    margin-bottom: 50px;
}

.top-deadline {
    align-items: center;
    width: 100%;
    min-width: 623px;
}

.deadline-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d4d4d4;
}

.deadline-box {
    width: 100%;
    gap: 18px;
}
.deadline-item {
    width: 33%;
    align-items: center;
}
.deadline-date {
    height: 90px;
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.date {
    font-size: clamp(40px, 10.666666667vw, 60px);
    letter-spacing: -0.025em;
    line-height: 1;
}

.day {
    font-size: clamp(10px, 2.666666667vw, 20px);
}

.deadline-course {
    font-size: 15px;
    text-align: center;
    color: #000000;
    height: 25px;
    width: 100%;
    background-color: white;
    border-left: 3px solid #C7B368;
}

.mission {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    padding: 160px 0;
}

.mission-inner {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1104px;
}

.mission-body {
    margin: 0 0 0 auto;
    width: 50%;
}

.section-heading > span {
    display: block;
}

.section-heading-en {
    font-size: clamp(28px, 4.1666666667vw, 60px);
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.269;
    margin: 0 0 12px;
}

.section-heading-ja {
    font-size: clamp(12px, 0.9027777778vw, 13px);
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.269;
    margin: 0 0 12px;
    position: relative;
}

.section-heading-ja::before {
    content: "";
    height: 38px;
    width: 60px;
    background-color: #FCFC38;
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mission-sub-heading {
    font-size: clamp(22px, 2.7777777778vw, 40px);
    font-weight: bold;
    line-height: 1.5;
    margin: 70px 0 48px;
}

.mission-desc p:not(:last-child) {
    margin-bottom: 1.86em;
}

.mission-img {
    position: absolute;
    left: 0;
    top: 156px;
    width: clamp(400px, 38vw, 575px);
}

/* About */
.about {
    background: transparent url(./img/about_bg.jpg) no-repeat center center/cover;
    padding: 79px 0 113px 0;
}
.abount-inner{
    margin: 0 auto;
    width: 1104px;
    padding: 0 48px;
    color: #fff;
}
.about-heading{
    text-align: center;
}
.about-sub-heading{
    font-size: clamp(20px, 2.0833333333vw, 30px);
    font-weight: bold;
    line-height: 1.6666666667;
    margin: 24px 0 24px;
    text-align: center;
}
.about-sub-heading-small {
    display: block;
}
.about-sub-heading-large {
    display: block;
}
@media screen and (min-width: 768px) {
  .subheading-br-point {
    display: none !important;
    width: 0;
  }
}

.about-heading-en{
    display: block;
    font-family: azo-sans-web, sans-serif;
    font-size: clamp(28px, 4.1666666667vw, 60px);
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.269;
    margin: 0 0 12px;
}
.about-heading-ja{
    display: block;
    font-family: azo-sans-web, sans-serif;
    font-size: clamp(12px, 0.9027777778vw, 13px);
    font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 1.2692307692;
}
.about-desc{
    max-width: 680px;
    margin: 0 auto;
}
.about-desc p:not(:last-child) {
    margin: 0 0 1.86em;
}

/* Feature */
li {
    list-style:none;
}

.feature {
    
}

.feature-inner {
    margin: 0 auto;
    padding: 79px 0 113px;
}


.feature-contents {
    margin: 50px;
    justify-content: center;
}

.feature-item {
    width: 350px;
    min-width: 350px;
}

.feature-item:not(:last-child) {
    margin: 0 20px 0 0;
}

.feature-item-img {
    text-align: right;
    position: relative;
    height: 300px;
    margin: 0 0 60px;
}

.feature-item-img::before{
    display: block;
    position: absolute;
    content: "";
    background-color: #FCFC38;
    bottom: -30px;
    left: 0px;
    height: 80%;
    width: 80%;
    z-index: -1;
}
.feature-item-sub-title {
    position: absolute;
    top: 40%;
    writing-mode: vertical-rl;
    letter-spacing: 0.3em;
    font-size: clamp(11px, 0.8333333333vw, 12px);
    margin: 0 0 0 5px;
}

.feature-item-sub-title {
    display: block;
}

.feature-item-body {

}

.feature-item-title {

}

.feature-item-desc {

}
                
@media screen and (min-width: 900px) {
    .contact-nav::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 1px solid #000000;
        border-width: 0 1px 1px 0;
        position: absolute;
        bottom: 5px;
        right: 5px;
        display: block;
        z-index: 1000;
    }
}